html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Header styles */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

/* First section styles */

.first-section-container {
    display: flex;
    background-color: #1F2937;
    padding: 48px;
    justify-content: space-around;
    align-items: center;
}

.first-section-container img{
    width: 400px;
    height: 200px;
}

.first-section-container .sign-up-card h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}

.first-section-container .sign-up-card p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.first-section-container .sign-up-card button {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 6px 32px 6px 32px;
    font-weight: 700;
    color: white;
    text-align: center;
    border: none;
}

/* Second section styles */

.second-section-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.second-section-container .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.second-section-container h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.second-section-container .cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.second-section-container .cards-container .card img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 4px solid #3B82F6;
}

.second-section-container .cards-container .card p{
    color: #525B69;
    text-align: center;
    margin-top: 5px;
}


